body {
    background-color: #fff;
}


.titulo, .subtitulo{
    color: #000;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.cards {
    width: 400px;
    height: 600px;
    background-color: #fff;
    border: solid 4px #000;
    margin-top: 5px;
}

button {
    transform: scale(1);
    padding: 20px;
    width: 100px;
    height: 40px;
    align-self: center;
    transition: transform 0.3s ease-in-out ;
}

button:hover {
    transform: scale(1.2);
}

.seta-config {
    transform: rotate(180deg);
}

.nome {
    text-align: center;
}

.imagem {
    height: 350px;
    justify-self: center;
    border: solid 3px #000;
}

.info {
    justify-self: center;
    padding-left: 15px;
    margin-top: 5px;
    font-weight: 600;
    width: 350px;
    height: 200px;
    overflow: auto;
    border-bottom: #000 3px solid;
    border-top: 3px solid;
}